<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title></title>
        <link th:fragment="jqueryuicss" rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
        <script th:fragment="jquery" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script th:fragment="jqueryui" type="text/javascript" src="///ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" />
        <link th:fragment="bootstrap" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link th:fragment="bootstraptheme" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
        <script th:fragment="bootstrapjs" th:src="@{/js/bootstrap.min.js}"></script>
        <link th:fragment="smartmenus" rel="stylesheet" th:href="@{/css/smartmenus.bootstrap.css}"/>
        <script th:fragment="smartmenusjs" th:src="@{/js/smartmenus.js}"></script>
        <script th:fragment="smartmenusbootstrap" th:src="@{/js/smartmenus.bootstrap.js}"></script>
        
        
        <link th:fragment="styles" rel="stylesheet" type="text/css" th:href="@{/css/menubar.css}"/>
        
    </head>
    <body>
        
    </body>
</html>